<nav class="navbar">
  <div class="nav-left">
    <span class="logo">OS Simulator</span>
  </div>
  <div class="nav-right">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/process" routerLinkActive="active">Process Scheduling</a>
    <a routerLink="/disk" routerLinkActive="active">Disk Scheduling</a>
    <a routerLink="/file" routerLinkActive="active">Memory Management</a>
    <a routerLink="/deadlock" routerLinkActive="active">Deadlock Detection</a>
  </div>
</nav>
<router-outlet></router-outlet>