.content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem; /* space from the navbar */
  }
  
  h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    height: 80vh;
    box-sizing: border-box;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh; /* Takes 40% of viewport height */
    background-color: #f3f3f3;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    transition: transform 0.2s, background-color 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
    background-color: #e0e0e0;
    cursor: pointer;
  }
  .card.active {
    background-color: #1976d2;
    color: white;
    transform: scale(1.02);
  }